<p>&nbsp;</p>
<style type="text/css">
    h1{font-weight:bold; font-size:65px; }
    p{font-size:45px; line-height:45px;}
    </style>
	<title>Live Wallpaper Subscription</title>
<p class="p1"><span class="s1"><strong><h1>End of trial and subscription renewal</h1></strong></span></p>
<p class="p1"><span class="s1">A monthly subscription (which comes with a 3-day free trial) for $9.99 USD. Your trial subscription will automatically be converted to a paid subscription unless auto-renew is turned off at least 24 hours before the end of the trial period. You will be charged $9.99 for 1 Month. Payment will be charged to iTunes Account at confirmation of purchase. Within 24 hours prior to end of the trial period your account will be charged for the subscription fee. From that moment and further, subscription automatically renews unless auto-renew is turned off at least 24 hours before the end of the current period. Any unused portion of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication, where applicable. Subscriptions may be managed by the user and auto-renewal may be turned off by going to the user's Account Settings after purchase</span></p>
<p class="p2">&nbsp;</p>
<p class="p1"><span class="s1"><strong><h1>Cancelling trial or subscription</h1></strong></span></p>
<p class="p1"><span class="s1">You can turn off the auto renew for the subscription whenever you want to through iTunes. Check http://support.apple.com/kb/ht4098, when your current subscription period expires, you will be unsubscribed. The current active subscription period can not be canceled. After your subscription expires, you will no longer be able to use paid features and future updates.</span></p>
<p class="p2">&nbsp;</p>
<p class="p3"><span class="s2">&ndash; Privacy Policy Link: <a href="https://docs.google.com/document/d/1LI_EdZMntUVL_FHc041Xodz9GuigsyEB-kLYxT5Rc9A/edit?usp=sharing"><span class="s3">https://docs.google.com/document/d/1LI_EdZMntUVL_FHc041Xodz9GuigsyEB-kLYxT5Rc9A/edit?usp=sharing</span></a></span></p>
<p class="p2">&nbsp;</p>
<p class="p3"><span class="s2">&ndash; Terms Of Use Link: <a href="https://docs.google.com/document/d/1Pxb4FHOJNqOIrihO2VJpPh5pt0oHuzkg99koKkIp4TM/edit?usp=sharing"><span class="s3">https://docs.google.com/document/d/1Pxb4FHOJNqOIrihO2VJpPh5pt0oHuzkg99koKkIp4TM/edit?usp=sharing</span></a></span></p>
